.container {
    max-width: 1500px;
    margin-left: 650px;
}

#side-menu {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e7e6e6;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 180px;

}

.button-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    font-size: unset;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.input {
    margin-bottom: 10px;
}

.highlight {
    background-color: aqua;
}

a {
    color: rgb(0, 0, 238);
    font-family: arial, sans-serif;
}